.app {
  text-align: top;
}


.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {

  justify-content: center;
  display: block;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.row2 {

  justify-content: center;
  display: block;
  max-width: 50%;

  margin: 0 auto;
  text-align: bottom;
  display: flex;
}

p {
  font-size: calc(10px + 2vmin);
  text-align: center;

}

#space{
  margin-top: -20px;
}



.column {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}
.column2 {

  display: block;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;


  font-size: calc(3px + 2vmin);
}

.strength {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}

.dexterity {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}

.constitution {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}

.intelligence {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}

.wisdom {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}

.charisma {

  display: block;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  flex: 5%;
  text-align: center;
  justify-content: center;
  border: 2px solid black;

  font-size: calc(10px + 2vmin);
}



.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
