
.fullVerticalWrapper{
  height: 100%;
}
.badGuyScores{
  float: right;
  width: 110px;
  background-color: #bbb;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-top: 5px;
  align-items: center;
  align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.badGuyStatBonus{
  font-size: 40px;
  height: 75px;
  width: 80px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  align: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  margin: 8px;
  padding: -0px 0 10px 0;
}

.badGuyStatValue{
  font-size: 15px;
  padding: 2px 0px 0px 0px;
  background: white;
  width: 30px;
  height: 20px;
  border: 1px inset black;
  border-radius: 20px;
  margin: -1px;
  text-align: center;
}

label{
  text-align: center;
  border-top: 0;
  font-size: 9px;
  width: calc(100% - 18px);
  padding: 8px 0 0px 0;
  font-weight: bold;
}
